---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="stack -s4">
    <div class="stack-item">hoge</div>
    <div class="stack-item">hoge</div>
    <div class="stack-item">hoge</div>
  </div>
  <div class="switcher -s8" data-basis="20rem">
    <div class="switcher-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </div>
    <div class="switcher-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </div>
    <div class="switcher-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </div>
  </div>
</Layout>

<style>
  .stack-item {
    background-color: var(--surface-light);
  }
</style>
