:root {
  // Color

  // Primary

  // #106BDE
  --_base-color: oklch(54.8% 0.193 258);

  // #0E1826
  --_color-primary100: oklch(from var(--_base-color) 20.6% 0.032 h);

  // #10294D
  --_color-primary90: oklch(from var(--_base-color) 28.3% 0.073 h);

  // #103A75
  --_color-primary80: oklch(from var(--_base-color) 35.7% 0.111 h);

  // #0A4EA6
  --_color-primary70: oklch(from var(--_base-color) 44.1% 0.155 h);

  // #106BDE
  --_color-primary60: oklch(from var(--_base-color) l c h);

  // #438CF5
  --_color-primary50: oklch(from var(--_base-color) 64.6% 0.174 h);

  // #7AB0FF
  --_color-primary40: oklch(from var(--_base-color) 75.2% 0.128 h);

  // #AECCF7
  --_color-primary30: oklch(from var(--_base-color) 83.7% 0.069 h);

  // #D5E4FA
  --_color-primary20: oklch(from var(--_base-color) 91.4% 0.035 h);

  // #F0F4FA
  --_color-primary10: oklch(from var(--_base-color) 96.6% 0.009 h);

  // Gray

  // #0B0F14
  --_color-gray100: oklch(from var(--_base-color) 16.5% 0.014 h);

  // #101620
  --_color-gray90: oklch(from var(--_base-color) 20% 0.021 h);

  // #202A38
  --_color-gray80: oklch(from var(--_base-color) 28.1% 0.029 h);

  // #303D4F
  --_color-gray70: oklch(from var(--_base-color) 35.6% 0.036 h);

  // #445265
  --_color-gray60: oklch(from var(--_base-color) 43.4% 0.037 h);

  // #627085
  --_color-gray50: oklch(from var(--_base-color) 54% 0.037 h);

  // #808DA1
  --_color-gray40: oklch(from var(--_base-color) 64.1% 0.033 h);

  // #A4AFBF
  --_color-gray30: oklch(from var(--_base-color) 75% 0.026 h);

  // #C3CBD7
  --_color-gray20: oklch(from var(--_base-color) 84% 0.018 h);

  // #DEE2E9
  --_color-gray10: oklch(from var(--_base-color) 91.2% 0.01 h);

  // #F3F4F7
  --_color-gray5: oklch(from var(--_base-color) 96.8% 0.0004 h);

  // #FFFFFF
  --_color-gray0: oklch(from var(--_base-color) 1 0 h);

  // Font
  --_font-family-base: "IBM Plex Sans JP", sans-serif;

  // Font Size
  --_font-size1: 12;
  --_font-size2: 14;
  --_font-size3: 16;
  --_font-size4: 18;
  --_font-size5: 20;
  --_font-size6: 24;
  --_font-size7: 30;
  --_font-size8: 36;
  --_font-size9: 48;
  --_font-size10: 60;
  --_font-size11: 72;

  // Line Height
  // 行間の調整
  --_leading-trim: calc((1em - 1lh) / 2);

  // Space
  --_base-space0: 0;
  --_base-space1: 4;
  --_base-space2: 8;
  --_base-space3: 12;
  --_base-space4: 16;
  --_base-space5: 20;
  --_base-space6: 24;
  --_base-space7: 28;
  --_base-space8: 32;
  --_base-space9: 36;
  --_base-space10: 40;
  --_base-space11: 44;
  --_base-space12: 48;

  // remにする

  --_space0: calc(var(--_space0) / 16 * 1rem);
  --_space1: calc(var(--_space1) / 16 * 1rem);
  --_space2: calc(var(--_space2) / 16 * 1rem);
  --_space3: calc(var(--_space3) / 16 * 1rem);
  --_space4: calc(var(--_space4) / 16 * 1rem);
  --_space5: calc(var(--_space5) / 16 * 1rem);
  --_space6: calc(var(--_space6) / 16 * 1rem);
  --_space7: calc(var(--_space7) / 16 * 1rem);
  --_space8: calc(var(--_space8) / 16 * 1rem);
  --_space9: calc(var(--_space9) / 16 * 1rem);
  --_space10: calc(var(--_space10) / 16 * 1rem);
  --_space11: calc(var(--_space11) / 16 * 1rem);
  --_space12: calc(var(--_space12) / 16 * 1rem);

  // max-inline-size
  --_max-inline-size: 48rem;
  --_max-inline-size-narrow: 40rem;
  --_max-inline-size-wide: 56rem;

  // Theme

  // Color
  // Light
  // Background
  --background-color-base: var(--_color-gray0);
  --background-color-primary: var(--_color-gray10);
  --background-color-secondary: var(--_color-gray20);
  --background-color-accent: var(--_color-primary60);

  // Text
  --text-color-emphasis-high: var(--_color-gray100);
  --text-color-emphasis-meddle: var(--_color-gray90);
  --text-color-emphasis-low: var(--_color-gray80);
  --text-color-emphasis-disabled: var(--_color-gray70);
  --text-color-emphasis-primary: var(--_color-primary60);
  --text-color-emphasis-accent: var(--_color-gray0);
}
