---
import "@/styles/global.scss";
import Header from "@/components/header.astro";
import Head from "@/layouts/Head.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head pageTitle={pageTitle} />
  </head>
  <body class="body stack -s32">
    <Header />
    <main class="center mb-auto">
      <div class="content stack -s32">
        <slot />
      </div>
    </main>
    <footer class="footer">
      <div class="center" data-max-width="40rem">
        <div class="switcher -sx16 -sy24" data-basis="20rem">
          <nav class="stack -s16">
            <span class="footer-title">Navigation</span>
            <ul class="stack -s8">
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>
          </nav>
          <div class="stack -s16">
            <span class="footer-title">SNS</span>
            <ul class="stack -s8">
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>
          </div>
          <div class="stack -s16">
            <span class="footer-title">SNS</span>
            <ul class="stack -s8">
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>
          </div>
        </div>
        <p class="copyright">© 2025 Hello World</p>
      </div>
    </footer>
  </body>
</html>

<style>
  .body {
    background-color: var(--surface-contrast);
  }

  .content {
    background-color: var(--surface-light);
    border-radius: var(--border-radius-small);
    padding-block: var(--spacing-24);
    padding-inline: var(--spacing-08);
  }

  .footer {
    background-color: var(--surface-contrast);
    color: var(--text-light);
  }

  .footer-title {
    --clamp-min: var(--font-size-heading12);
    --clamp-max: var(--font-size-heading16);
  }
</style>
