@use "../settings/_variables" as *;

// サイトのデフォルトを指定するため、stylelintのルールを無視する

/* stylelint-disable selector-max-type */
html,
body {
  font-family: var(--_font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin-block: var(--_leading-trim);
  max-inline-size: var(--_max-inline-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  text-wrap: pretty;
  word-break: auto-phrase;
}

p {
  line-height: 1.7;
}

/* stylelint-enable selector-max-type */
