:root {
  // Color

  // Primary

  // #106BDE

  --base-color: oklch(54.8% 0.193 258);

  // #0E1826
  --color-primary100: oklch(20.6% 0.032 258);

  // #10294D
  --color-primary90: oklch(28.3% 0.073 258);

  // #103A75
  --color-primary80: oklch(35.7% 0.111 258);

  // #0A4EA6
  --color-primary70: oklch(44.1% 0.155 258);

  // #106BDE
  --color-primary60: var(--base-color);

  // #438CF5
  --color-primary50: oklch(64.6% 0.174 258);

  // #7AB0FF
  --color-primary40: oklch(75.2% 0.128 258);

  // #AECCF7
  --color-primary30: oklch(83.7% 0.069 258);

  // #D5E4FA
  --color-primary20: oklch(91.4% 0.035 258);

  // #F0F4FA
  --color-primary10: oklch(96.6% 0.009 258);

  // Gray

  // #0B0F14
  --color-gray100: oklch(16.5% 0.014 258);

  // #101620
  --color-gray90: oklch(20% 0.021 258);

  // #202A38
  --color-gray80: oklch(28.1% 0.029 258);

  // #303D4F
  --color-gray70: oklch(35.6% 0.036 258);

  // #445265
  --color-gray60: oklch(43.4% 0.037 258);

  // #627085
  --color-gray50: oklch(54% 0.037 258);

  // #808DA1
  --color-gray40: oklch(64.1% 0.033 258);

  // #A4AFBF
  --color-gray30: oklch(75% 0.026 258);

  // #C3CBD7
  --color-gray20: oklch(84% 0.018 258);

  // #DEE2E9
  --color-gray10: oklch(91.2% 0.01 258);

  // #F3F4F7
  --color-gray5: oklch(96.8% 0.0004 258);

  // #FFFFFF
  --color-gray0: oklch(1 0 258);

  // Font
  --font-family-base: "IBM Plex Sans JP", sans-serif;

  // Base Font Size
  --font-size1: 12; // body, heading
  --font-size2: 14; // body, heading
  --font-size3: 16; // body, heading
  --font-size4: 20; // heading
  --font-size5: 24; // heading
  --font-size6: 28; // heading
  --font-size7: 32; // heading
  --font-size8: 40; // heading
  --font-size9: 48; // display
  --font-size10: 60; // display
  --font-size11: 78; // display

  // Font Size

  --font-size-display78: var(--font-size11);
  --font-size-display60: var(--font-size10);
  --font-size-display48: var(--font-size9);
  --font-size-heading40: var(--font-size8);
  --font-size-heading32: var(--font-size7);
  --font-size-heading28: var(--font-size6);
  --font-size-heading24: var(--font-size5);
  --font-size-heading20: var(--font-size4);
  --font-size-heading16: var(--font-size3);
  --font-size-heading12: var(--font-size2);
  --font-size-body16: var(--font-size3);
  --font-size-body14: var(--font-size2);
  --font-size-body12: var(--font-size1);
  --font-size-caption12: var(--font-size1);
  --font-size-list14: var(--font-size2);
  --font-size-anchor16: var(--font-size3);

  // Line Height

  // 行間の調整

  --leading-trim: calc((1em - 1lh) / 2);

  // px
  --space1px: 1px;

  // max-inline-size
  --max-inline-size: 48rem;
  --max-inline-size-narrow: 40rem;
  --max-inline-size-wide: 56rem;

  // border-radius
  --border-radius-small: var(--spacing-08);
  --border-radius-medium: var(--spacing-16);
  --border-radius-large: var(--spacing-32);
  --border-radius-full: calc(infinity * 1px);

  // Token

  // Color
  // Light
  // Surface
  --surface-primary: var(--color-gray0);
  --surface-secondary: var(--color-gray5);
  --surface-tertiary: var(--color-gray10);
  --surface-moderate: var(--color-gray20);
  --surface-bold: var(--color-gray30);
  --surface-strong: var(--color-gray50);
  --surface-contrast: var(--color-primary60);
  --surface-overlay: var(--color-gray0);
  --surface-light: var(--color-gray0);
  --surface-dark: var(--color-gray100);

  // Text
  --text-primary: var(--color-gray80);
  --text-secondary: var(--color-gray60);
  --text-tertiary: var(--color-gray40);
  --text-link: var(--color-primary60);
  --text-light: var(--color-gray0);
  --text-dark: var(--color-gray100);

  // Icon
  --icon-action: var(--color-primary60);
  --icon-primary: var(--color-gray80);
  --icon-secondary: var(--color-gray30);
  --icon-light: var(--color-gray0);
  --icon-dark: var(--color-gray100);

  // Border
  --border-minimal: var(--color-gray10);
}
